<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>HSC AWS Tools</title>
<style>
body {
  font-family: monospace;
  font-size: 14px;
}
ul {
  list-style-type: none;
}
</style>
  </head>
  <body>
    <h1>HSC AWS Tools</h1>
    <h4>AWS Console</h4>
    <ul>
      <%-
        [
          ['CodeBuild', 'https://ap-northeast-1.console.aws.amazon.com/codebuild/home?region=ap-northeast-1#/projects'],
          ['CodePipeline', 'https://ap-northeast-1.console.aws.amazon.com/codepipeline/home?region=ap-northeast-1#/dashboard'],
          ['S3 (Submissions)', 'https://ap-northeast-1.console.aws.amazon.com/s3/buckets/ioi18-cms-submissions-prd'],
        ].each do |name, url|
      -%>
        <li><a href="/login?relay=<%= URI.encode_www_form_component(url) %>"><%= name %></a></li>
      <%- end -%>
    </ul>
  </body>
</html>

    
